.thumbs {
    padding: 0;
}

.team-profile-image {
    padding: 0 13px;
}

.team-profile {
    margin: 35px;
}
.meet-the-team-img {
    display: flex;
    flex-direction: column-reverse;
    max-height: 250px;
    max-width: 250px;
}